body {
  background-color: #b8b1af;
  font-family: "Tekton Pro";
  color: #6f5371;
  border: 4px double #a58d92;
  margin: 2% 10%;
}

.column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

hr {
  width: 95%;
  border: 4px double #a58d92;
}

h1, h2, p {
  padding: 1% 5%;
  text-align: center;
}
