$bgcolor: #b8b1af;
$font: "Tekton Pro";
$fcolor: #6f5371;
$hr: 30em;
$border: 4px double #a58d92;
$mrgn: 2% 10%;
$padding  : 1% 5%;

body {
  background-color: $bgcolor;
  font-family: $font;
  color: $fcolor;
  border: $border;
  margin: $mrgn;
}
.column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

hr {
  width: 95%;
  border: $border;
}

h1, h2, p{
  padding: $padding;
  text-align: center;
}